/** Buttons **/

button {
  background-color: transparent;
  border: 1px solid #FFF;
  border-radius: 4px;

  &:hover {
    background-color: #FFF;
    color: #444;
    transition: all 0.3s;
  }
}

a.btn {
  @extend button;
  text-decoration: none;
}

.banner-login {
  font-size: 16pt;
  display: inline-block;
  padding: 10px 25px;
  margin: 15px;
}